#frontend{
    color: brown;
}
.wt{
    border: 5px;
    color: gray;
}

.tmp{
    font-size: 30px;
}

/* .cat li a{
    color:aqua
} */

.cat>a{
    color: green;
}

.cat>ul>li>a{
    color: green;
    font-size: 50px;
}

.cat>ul>p>a:hover{
    color: red;
}

.cat>ul>p>a:active{
    color: blue;
}

.point>a:link {
    color: black;
/* 去掉 a 标签的下划线 */
    text-decoration: none; 
}
.point>a:visited {
    color: green; 
}
.point>a:hover {
    color: red; 
}
.point>a:active {
    color: blue; 
}

.test>ul>.wa{
    color:aqua
}
.three>input:focus{
    color:red;
}

.rem{
    text-decoration: none;
}